body {
    font-family: Arial, sans-serif;
    background: #1f1f1f;
    color: white;
    text-align: center;
}

header h1 {
    color: #00ffff;
    margin-top: 30px;
}

.planner {
    margin: 50px auto;
    max-width: 400px;
    background: #2a2a2a;
    padding: 30px;
    border-radius: 15px;
}

#taskInput {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#addBtn {
    padding: 10px 15px;
    margin-left: 5px;
    background: #00ffff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#addBtn:hover {
    background: white;
    color: black;
}

#taskList li {
    text-align: left;
    padding: 8px;
    margin: 10px 0;
    background: #3a3a3a;
    border-radius: 5px;
}